{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <script type="text/javascript">
        var message = "{{ message }}";
        console.log(message);
        if(message=="Account updated successfully!!") {
          $(window).on('load', function() {
            $('#updateModal').modal('show');
          });
        }
      </script>
      <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ message }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="col-md-3">
        <a class="navbar-brand brand-font" href="{% url 'store-home' %}">The Embedded Store</a>
      </div>
    </nav>
  </div>
  <div class="container-fluid account-style col-md-7 col-lg-6 col-xl-5">
    <form method="POST">
      <h3 class="centered">My Account</h3>
      {% csrf_token %}
      {{ u_form|crispy }}
      {{ a_form|crispy }}
      <div class="padding-top-10"></div>
      <div class="form-group row">
        <div class="">
          <button type="submit" class="btn btn-primary margin-left-18">Update</button>
        </div>
      </div>
    </form>
  </div>
  <footer>
    <div class="padding-top-10"></div>
    <a href="{% url 'store-about' %}" class="hyperlink a-page">About Us</a> <br>
    <a href="{% url 'store-contact' %}" class="hyperlink a-page">Contact Us</a> <br>
    <div class="container-fluid padding-top-10">
      <p class="centered"><i class="far fa-copyright"></i> Developed by <a href="https://github.com/jobjacob98" target="_blank" class="a-page">Job Jacob</a>, <a href="https://github.com/Leomv55" target="_blank" class="a-page">Leo Varghese</a> and <a href="https://github.com/zeeshanmmlp2" target="_blank" class="a-page">Mohammed Zeeshan</a></p>
    </div>
  </footer>
{% endblock content %}
